---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---
<main class="text-neutral-50 mt-8 rounded-lg " >
	<div class="max-w-2/3 mx-auto">
		<section>
			<h1>Sobre mi</h1>
			<p>Desarrollador fullstack con experiencia en diversas tecnologías.</p>
			<p>Apasionado por crear soluciones eficientes y escalables, siempre aprendiendo y mejorando mis habilidades.</p>
            
		</section>
	</div>
	<div class=" mx-auto py-4 bg-neutral-100 w-full my-4 ">
		<div class=" grid grid-cols-3 md:grid-cols-6 gap-4 max-w-2/3 mx-auto">
				<img class="w-12 h-12 object-contain" src="/reactP.png" alt="react" />
				<img class="w-12 h-12 object-contain" src="/angularP.png" alt="angular" />
				<img class="w-12 h-12 object-contain" src="/next.png" alt="next js" />
				<img class="w-12 h-12 object-contain" src="/NestJS.svg" alt="nest js" />
				<img class="w-12 h-12 object-contain" src="/sprin.png" alt="spring boot" />
				<img class="w-12 h-12 object-contain bg-black rounded-3xl" src="/favicon.svg" alt="astro" />
				<img class="w-12 h-12 object-contain" src="/express-js.png" alt="express js" />
				<img class="w-12 h-12 object-contain" src="/python.png" alt="python" />
				<img class="w-12 h-12 object-contain" src="/javascript.png" alt="javascript" />
				<img class="w-12 h-12 object-contain" src="/typescript.png" alt="typescript" />
				<img class="w-12 h-12 object-contain" src="/java.png" alt="java" />
				<img class="w-12 h-12 object-contain" src="/csharp.png" alt="c#" />
			</div>
	</div>
	<div class="max-w-2/3 mx-auto">
		<section>
			Trabajos
		</section>
	</div>
	<div class="max-w-2/3 mx-auto">
		<section>
			Contacto
		</section>
	</div>
</main>