---
// filepath: h:\portafolio\paginaAstro\fast-fusion\src\layouts\Layout.astro
import '../styles/global.css';
---

<header class=" md:max-w-2/3 ml-6 md:mx-auto h-16 flex justify-between text-neutral-50 mt-6 rounded-lg">
    
    <div class="flex py-4 ">
        
    <h1 class="py-2">Desarrollador <strong class="bg-gradient-to-r from-yellow-500 via-red-500 to-pink-500 text-transparent bg-clip-text text-lg">Chethh</strong></h1>
    </div>
    <nav class="p-4 flex items-center gap-4">
    <a class="hover:bg-slate-400 p-2 px-3 rounded-2xl text-indigo-700 font-medium hover:text-slate-900 cursor-pointer" href="">sobre mi</a>
    <a class="hover:bg-slate-400 p-2 px-3 rounded-2xl text-indigo-700 font-medium hover:text-slate-900 cursor-pointer" href="">proyectos</a>
    <a class="hover:bg-slate-400 p-2 px-3 rounded-2xl text-indigo-700 font-medium hover:text-slate-900 cursor-pointer" href="">contacto</a>
    </nav>
</header>