---
// filepath: h:\portafolio\paginaAstro\fast-fusion\src\layouts\Layout.astro
import '../styles/global.css';
---

<header class=" w-full md:max-w-2/3 ml-0 md:mx-auto h-auto flex flex-col md:flex-row justify-between text-neutral-50 mt-6  md:rounded-lg px-2 md:px-0 " style="background-color: #211e20;">
    
    <div class="flex pt-4 md:pt-0 md:w-auto w-full justify-center items-center md:justify-start">
        
    <h1 class=" pl-6 md:pl-4 text-neutral-100">Desarrollador <strong class="bg-gradient-to-r from-yellow-500 via-red-500 to-pink-500 text-transparent bg-clip-text text-lg">Chethh</strong></h1>
    </div>
    <nav class="p-4 flex items-center gap-4">
    <a href="#sobreMi" class="nav-link p-2 px-3 rounded-2xl  font-medium hover:text-[#211e20] cursor-pointer" href="" >sobre mi</a>
    <a class="nav-link p-2 px-3 rounded-2xl  font-medium hover:text-[#211e20] cursor-pointer" href="" >proyectos</a>
    <a href="#contactoo" class="nav-link p-2 px-3 rounded-2xl  font-medium hover:text-[#211e20] cursor-pointer" href="" >contacto</a>
    </nav>
</header>
<style>
    .nav-link{
        color: #e9efec; /* Cambia el color del texto si quieres */
        transition: background-color 0.3s, color 0.3s;
    }
    .nav-link:hover {
        background-color: #a0a08b;
        color: #211e20; /* Cambia el color del texto si quieres */
    }
</style>